@page "/transactions/{AccountId}"
@using System.Collections.Immutable
@using System.Text
@using PaymentsClient.Domain.Accounts
@inject NavigationManager _navigationManager
@inject IAccountsService _accountsService
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Transactions</PageTitle>

<h1>List of Transactions</h1>
<h3>Account: @AccountId</h3>

<label class="form-label" for="accessToken">Access Token: </label>
<input class="form-text" type="text" @bind="_accessToken" id="accessToken" />
<br />
<label class="form-label" for="withDetails">With Details: </label>
<input class="form-check" type="checkbox" @bind="_withDetails" id="withDetails" />
<br />
<label class="form-label" for="fromDate">From Date: </label>
<input class="form-control" type="date" @bind="_fromDate" id="fromDate" />
<br />
<button class="btn btn-primary" @onclick="GetTransactionsAsync">Fetch Data</button>
<br />

@if (_transactions == null || _transactions?.Length == 0)
{
    <p>
        <em>Please provide an access token and click on Fetch Data</em>
    </p>
}
@if (_transactions != null && _transactions?.Length > 0 && !_loading)
{
    <table class="table">
        <thead>
        <tr>
            <th>Transaction Id</th>
            <th>Schema</th>
            <th>Transaction Date</th>
            <th>Creation Date</th>
            <th>Text</th>
            <th>Original Text</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Balance</th>
            <th>Type</th>
            <th>State</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var transaction in _transactions!)
        {
            <tr>
                <td>@transaction.Id</td>
                <td>@transaction.IdSchema</td>
                <td>@ToShortDateTime(transaction.TransactionDate)</td>
                <td>@ToShortDateTime(transaction.CreationTime)</td>
                <td>@transaction.Text</td>       
                <td>@transaction.OriginalText</td>
                <td>@transaction.Category</td>
                <td>@transaction.TransactionAmount?.Currency &nbsp; @transaction.TransactionAmount?.Value.ToString()</td>
                <td>@transaction.AccountBalance?.Currency &nbsp; @transaction.AccountBalance?.Value.ToString()</td>
                <td>@transaction.Type</td>
                <td>@transaction.State</td>
                <td>@transaction.Details</td>
            </tr>
        }
        </tbody>
    </table>
}

@if (_loading)
{
    <p>
        <em>Loading Data...</em>
    </p>
}

<br />
<button class="btn btn-primary" @onclick="RedirectToAccounts">Go Back to Accounts</button>

@code {    
    [Parameter]
    public string AccountId { get; set; } = string.Empty;
    
    private ImmutableArray<TransactionModel>? _transactions;
    private bool _loading;
    private string? _accessToken;
    private DateTimeOffset? _fromDate;
    private bool _withDetails;

    private async Task GetTransactionsAsync()
    {
        _loading = true;
        if (string.IsNullOrWhiteSpace(_accessToken) || string.IsNullOrWhiteSpace(AccountId))
        {
            return;
        }

        var fromDateString = ToShortDateOrDefault(_fromDate);
        
        var getTransactionsRequest = new GetTransactionsRequest(_accessToken, AccountId, fromDateString, _withDetails);
        
        var getTransactionsResponse = await _accountsService.GetTransactionsAsync(getTransactionsRequest);
        
        if (getTransactionsResponse.IsSuccessful is false)
        {
            return;
        }
        
        _transactions = getTransactionsResponse.Value!.Transactions;
        _loading = false;
    }

    private void RedirectToAccounts()
    {   
        _navigationManager.NavigateTo($"/accounts");
    }
    
    private static string ToShortDateOrDefault(DateTimeOffset? dateTimeOffset)
    {
        if (dateTimeOffset == null)
        {
            return "2021-01-01";
        }
        
        var sb = new StringBuilder(100);
        
        sb.Append(dateTimeOffset.Value.Year);
        sb.Append('-');
        sb.Append(dateTimeOffset.Value.Month);
        sb.Append('-');
        sb.Append(dateTimeOffset.Value.Day);
        
        return sb.ToString();
    }
    
    private static string ToShortDateTime(DateTimeOffset? dateTimeOffset)
    {
        if (dateTimeOffset == null)
        {
            return string.Empty;
        }
        
        var sb = new StringBuilder(100);
        
        sb.Append(dateTimeOffset.Value.Year);
        sb.Append('-');
        sb.Append(dateTimeOffset.Value.Month);
        sb.Append('-');
        sb.Append(dateTimeOffset.Value.Day);
        sb.Append(' ');
        sb.Append(dateTimeOffset.Value.Hour);
        sb.Append(':');
        sb.Append(dateTimeOffset.Value.Minute);
        sb.Append(':');
        sb.Append(dateTimeOffset.Value.Second);
        sb.Append(" UTC");
        
        return sb.ToString();
    }
}